<h1>Book Record</h1>

<form action="/admin/books/<%= @book.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn">Delete</button>
</form>

<p><strong>Title:</strong> <em><%= @book.title %></em></p>
<p><strong>Author</strong> <%= @book.author_name %></p>
<p><strong>
  <%= @book.checked_in ? "Checked In" : "Checked Out" %>
</strong></p>
<p><strong>Checkout Log:</strong></p>
<% if @book.get_checkouts.any? %>
  <ul>
    <% @book.get_checkouts.each do |record| %>
      <% patron = Patron.find(record.patron_id).first %>
      <li>
        <strong><%= patron.full_name %></strong> on <%= record.checkout_date %>
      </li>
    <% end %>
  </ul>
<% end %>

<p><a href="/admin/books">Back to books list</a></p>
