<h1>Patron Record</h1>

<% if @user == "admin" %>
  <a href="/admin/patrons/<%= @patron.id %>/edit"><button type="button" class="btn">Edit</button></a>
  <form action="/admin/patrons/<%= @patron.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn">Delete</button>
  </form>
<% end %>

<p><strong>Name:</strong> <%= @patron.full_name %></p>
<p><strong>Checkouts:</strong></p>
<% if @patron.get_checkouts.any? %>
  <ul>
    <% @patron.get_checkouts.each do |checkout| %>
      <% book = Book.find(checkout.book_id).first %>
      <li>
        <a href="/<%= @patron.id %>/books/<%= book.id %>"><em><%= book.title %></em></a> Due: <%= checkout.due_date %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No books saved to patron.</p>
<% end %>

<% if @user == "admin" %>
  <p><a href="/admin/patrons">Back to patrons list</a></p>
<% else %>
  <a href="/<%= @patron.id %>/books"><button type="button" class="btn">Catalog</button></a>
  <p><a href="/patron">Log Out</a></p>
<% end %>
<a href="/"><button type="button" class="btn">Home</button></a>
